{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% from "_render_field.html" import render_field, render_field_2, render_month %}

{% block content %}

<div class="container">
    <div class="jumbotron">
        <h2> Enter Book Details </h2>
        <form action=" {{ url_for('submit') }} " , method="post">
            {{ form.csrf_token }}
            {{ render_field(form.title) }}
            {{ render_field(form.author) }}
            {{ render_field(form.publisher) }}
            {{ render_field(form.link) }}
            <div class="row justify-content-center">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <input class="btn btn-primary btn-lg btn-block" type="submit" value="Submit">
                </div>
                <div class="col-md-3"></div>
            </div>
        </form>
    </div>
</div>
{% endblock %}<!-- main_content -->

{% block scripts %}
{{ super() }}
{% endblock %}
